@import "~@blueprintjs/core/lib/scss/variables";

.main-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.market-open {
    color: $green3;
}

.market-closed {
    color: $red3;
}

.market-closed-date {
    margin: 0 3px;
    font-weight: 550;
}

:global(.bp3-dark) {
    .market-open {
        color: $green4;
    }

    .market-closed {
        color: $red4;
    }
}