@import "~@blueprintjs/core/lib/scss/variables";

.chart-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.line {
    fill: none;
    stroke-width: 1.25px;
    stroke: $gray2;
}

.area {
    fill: $gray4;
    stroke: none;
    fill-opacity: 0.1;
}

.point {
    stroke: $gray3;
    stroke-width: 4px;
    stroke-linecap: round;
}

.positive-trend {
    .line {
        stroke: $lime2;
    }

    .point {
        stroke: $lime3;
    }

    .area {
        fill: $lime4;
    }
}

.negative-trend {
    .line {
        stroke: $rose2;
    }

    .point {
        stroke: $rose3;
    }

    .area {
        fill: $rose4;
    }
}

:global(.ct-series-b) {
    .line {
        stroke: $gray2;
        stroke-dasharray: 10px 5px;
    }

    .area {
        fill: none;
    }

    .point {
        display: none;
    }
}