@import "~@blueprintjs/core/lib/scss/variables";

.spinner-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.stocks-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    > .single-stock-container {
        box-shadow: 0 1px $pt-divider-black;
    }
}

.single-stock-container {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.acquired-stock {
    background: rgba($red5, 0.1);
}

.left-container {
    display: flex;
    flex-direction: column;
}

.stock-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.stock-market-cap {
    font-size: 12px;
    color: $pt-text-color-muted;
}

.right-container {
    display: flex;
    align-items: center;
}

.current-price {
    font-size: 20px;
    font-weight: 500;
}

.chevron-right-indicator {
    color: $pt-text-color-muted;
    margin-left: 10px;
}
