@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

@import "~chartist/dist/chartist.min.css";

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: $light-gray5;
}
