@import "~@blueprintjs/core/lib/scss/variables";

.overall-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
}

.main-content-container {
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.header-container {
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    display: flex;
    height: 36px;
    box-shadow: 0 1px $pt-divider-black, 0 -1px $pt-divider-black;
    background: $light-gray4;

    > :not(:last-child) {
        box-shadow: 1px 0 $pt-divider-black;
    }
}

.header-icon-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-icon {
    color: $gray4;

    &.active {
        color: $blue3;
    }
}
