@import "~@blueprintjs/core/lib/scss/variables";

.overall-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.back-button {
    position: absolute;
    top: 5px;
    left: 5px;
}

.stock-name {
    font-size: 20px;
    font-weight: 550;
}

.stock-owned-label {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.total-quantity-owned-label {
    font-size: 12px;
    margin-right: 5px;
    color: $pt-text-color-muted;
}

.total-quantity-owned {
    font-size: 16px;
}

.transactions-table-label {
    color: $pt-text-color-muted;
    margin: 10px 0 3px 10px;
}

.transactions-table {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 -1px $pt-divider-black;

    > :not(:last-child) {
        box-shadow: 0 1px $pt-divider-black;   
    }
}

.single-exchange-transaction {
    display: flex;
    padding: 10px;
    min-height: 60px;
}

.net-purchase {
    background: rgba($green3, 0.15);
}

.net-sold {
    background: rgba($blue3, 0.15);
}

.left-container {
    display: flex;
    flex-direction: column;
}

.before-label {
    font-size: 12px;
    color: $pt-text-color-muted;
}

.total-quantity-owned {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    flex: 1;
}

.timestamp-and-exchange-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.timestamp {
    color: $pt-text-color-muted;
    margin-bottom: 5px;
}

.exchange-container {
    display: flex;
    align-items: center;
}

.at-price-container {
    margin-left: 3px;
}
