@import "~@blueprintjs/core/lib/scss/variables";

.overall-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.back-button {
    position: absolute;
    top: 5px;
    left: 5px;
}

.stock-name {
    font-size: 20px;
}

.stock-worth-label {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 550;
}

.total-quantity-owned-label {
    font-size: 12px;
    margin-right: 5px;
    color: $pt-text-color-muted;
}

.total-quantity-owned {
    font-size: 16px;
}

.transaction-label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 3px 10px;
}

.transactions-table-label {
    color: $pt-text-color-muted;
}

.transactions-table {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 60px;
    box-shadow: 0 -1px $pt-divider-black;

    > .single-exchange-transaction {
        box-shadow: 0 1px $pt-divider-black;   
    }
}

.single-exchange-transaction {
    display: flex;
    padding: 10px;
    min-height: 60px;
}

.net-purchase {
    background: rgba($green3, 0.1);
}

.net-sold {
    background: rgba($blue3, 0.1);
}

.dividend-payment {
    background: rgba($cobalt3, 0.1);
}

.net-hypothetical {
    background: rgba($orange3, 0.1);
}

.left-container {
    display: flex;
    flex: 1;
}

.timestamp-and-exchange-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.timestamp {
    color: $pt-text-color-muted;
    margin-bottom: 5px;
}

.exchange-container {
    display: flex;
    align-items: center;
}

.dividend-container {
    display: flex;
    margin-right: 10px;
}

.at-price-container {
    margin-left: 3px;
}

.limit-order-container {
    color: $pt-text-color-muted;
    margin-top: 5px;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.stock-value-changed-by-transaction {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px $pt-divider-black;
    margin-bottom: 3px;
}

.stock-value-at-transaction {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.positive-stock-value {
    color: $green2;
}

.negative-stock-value {
    color: $red2;
}

:global(.bp3-dark) {
    .total-quantity-owned-label {
        color: $pt-dark-text-color-muted;
    }

    .transactions-table-label {
        color: $pt-dark-text-color-muted;
    }

    .transactions-table {
        box-shadow: 0 -1px $pt-dark-divider-white;

        > .single-exchange-transaction {
            box-shadow: 0 1px $pt-dark-divider-white;
        }
    }

    .net-purchase {
        background: rgba($green4, 0.15);
    }

    .net-sold {
        background: rgba($blue4, 0.15);
    }

    .dividend-payment {
        background: rgba($cobalt4, 0.15);
    }

    .net-hypothetical {
        background: rgba($orange4, 0.15);
    }

    .timestamp {
        color: $pt-dark-text-color-muted;
    }

    .limit-order-container {
        color: $pt-dark-text-color-muted;
    }

    .positive-stock-value {
        color: $green3;
    }

    .negative-stock-value {
        color: $red3;
    }
}
