@import "~@blueprintjs/core/lib/scss/variables";

.value-indicator {
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 40px;
    width: 1px;
    border-left: dotted $dark-gray2 1px;
}

.value-indicator-point {
    position: absolute;
    left: 50px;
    height: 6px;
    width: 6px;
    background: $dark-gray2;
    border-radius: 50%;
    transform: translateX(-50%);
}

.value-label {
    position: absolute;
    left: 50px;
    bottom: 15px;
    color: $dark-gray2;
}
