@import "~@blueprintjs/core/lib/scss/variables";

.transact-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0;
}

.your-portfolio-label {
    color: $pt-text-color-muted;
    margin-left: 10px;
    margin-bottom: 3px;
}

.row-container {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 5px;
    color: $pt-text-color-muted;
}

.transact-information-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 -1px $pt-divider-black;
}

.transact-column-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: 15px;
    }
}

.transact-row-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.transact-label {
    margin-top: 5px;
}

.transact-button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 150px;

    > :not(:first-child) {
        margin-top: 15px;
    }
}

.transact-button {
    display: flex;
    flex: 1;
}

.view-transaction-history {
    margin-top: 15px;

    :global(.bp3-button-text) {
        text-decoration: underline;
    }
}

.acquired-info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 1px $pt-divider-black, 0 -1px $pt-divider-black;
}

.has-been-acquired-label {
    font-size: 14px;
    font-weight: 550;
}

.has-been-acquired-description {
    margin-top: 5px;
    color: $pt-text-color-muted;
}

:global(.bp3-dark) {
    .your-portfolio-label {
        color: $pt-dark-text-color-muted;
    }
    
    .label {
        color: $pt-dark-text-color-muted;
    }

    .transact-information-container {
        box-shadow: 0 -1px $pt-dark-divider-white;
    }

    .acquired-info-container {
        box-shadow: 0 1px $pt-dark-divider-white, 0 -1px $pt-dark-divider-white;
    }

    .has-been-acquired-description {
        color: $pt-dark-text-color-muted;
    }
}